@charset "utf-8";
@font-face {
    font-family: Pokemon;
    src: url(Pokemon_font.ttf) format('ttf'),
    url(Pokemon_font.woff) format('woff'),
    url(Pokemon_font.woff2) format('woff2');
}


body, header, article, aside, section, footer, p{
    margin-right: auto;
    margin-left: auto;
}
p {
    text-align: center;
}


/* header styles*/
h1{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 5px;
    font-family: Pokemon;
}
h1, h2, h3, h4{
    text-align: center;
}
header > nav{
    border: solid black 3px;
}
section > h3{
    font-variant: small-caps;
    text-decoration: underline;
    font-size: 30px;
}
/* image*/
div.row > h1 img{
    margin-left: 150px;
}

/*link styles*/
a{
    text-decoration: none;
    color: black;
}
a:hover, a:active{
    color:red;
    background-color: white;
}

