@charset "UTF-8";

html {
    background-image: url(pokemon_pic.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
body {
    width: 95%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

nav{
    background: red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    margin-bottom: 5%;
}

nav li{
    list-style-type: none;
    float: left;
    margin: 5px;
}

nav a {
    text-decoration: none;
    font-size: 1em;
}
a{
    color: black;
}
a:hover, a:active{
    color: red;
    background-color: white;
}
nav input {
    float: right;
    position: relative;
    top: 5px;
    right: 2%;
}
a.logo:hover, a.logo:active{
    background-color: transparent;
}
div#navicon img{
    float:right;
    width: 30px;
    position: absolute;
    top: 9px;
    left: 6%;
    margin: 5px 40% 0px 40%;
}
img#logo {
    border-radius: 50%;
    position: relative;
    margin: 10px auto;         
}

#search {
    width: 350px;
    height: 45px;
    margin-top: 12%;
    margin-bottom: 6%;
}

#search::placeholder{
    font-size: 2em;
}
